.index{
    background-color: rgb(218, 207, 141);
}

.index header{
    background-color: rgb(0, 0, 95);
    display: flex;
    justify-content: space-between;
    justify-content: center;

}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

.index {
}

