
/*Login*/

.login {background-color: antiquewhite;}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 95%;
    justify-self: center;
}

.login .label {
    display:block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.login .input {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.login .checkbox{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.login .button-container{
    margin-top: 10px;
    text-align: center;
}

.login .register-link {
    margin-top: 15px;
    text-align: center;
}

.login .register-link a{
    text-decoration: none;
    color: black;
}



/*Registro.html*/

.register {background-color: antiquewhite;}

h2{
    text-align: center;
}

.register-container {
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 95%;
    justify-self: center;
}

.register .label {
    display:block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.register .input {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px; /*podemos sacar?*/
}

.register .button-container{
    margin-top: 10px;
    text-align: center;
}

.register .login-link {
    text-align: center;
    margin-top: 15px;
}

.register .login-link a{
    text-decoration: none;
    color: black;
}

@media (max-width: 420px){}

/*Product*/

.product-photo img {
  width: 450px;  
  height: auto;    
  display: block;}


.product-data .btn{
    margin-top: 10px;
}

.reviews h2 {
  text-align: left;   
  margin-top: 20px;
}


