
/*Aca empeizan cambios*/
input {
display: block;
width: 100%;
margin-bottom: 10px;
border-radius: 5px;
padding: 10px;
background-color: white;
}

button{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.registro {
    text-align: center;
    margin-top: 15px;
    background-color: white;
}

.registro a{
    text-decoration: none;
    background-color: white;
}
/*aca terminan cambios*/