
body{
  background:#f9f3e2;
  margin:0;
  font-family:Arial, sans-serif;
  color:#222}

/*Header*/
.site-header{   
  background:#0b2a55;  
  padding: 0px 20px;
  height: 150px;   
  display: flex; 
  justify-content: space-between;     
}

.logo{
  height:100px;                  
  margin: 20px;
}

.search{
  display: flex;
  align-items: center;
}

.search input{
  padding:8px;
  margin-right: 5px;
  border-radius: 3px;
  width: 400px;
}

.search button{
  padding:8px 12px;
  background:#fff;              
  color:#0b2a55;
  border-radius: 3px;
}

.navbar{
  display: flex;
  align-items: center;    /*PORQUE CENTER*/
}

.navbar ul{
  display: flex; /*HACE FALTA?*/
  list-style: none;
}

.navbar a{
  margin-right:15px;
  text-decoration:none;
  color:#fff;                   
}

/*Navegador vertical*/
.page{
  display:flex;
  margin:24px 20px 24px 0px
}

.sidebar{     /*UNIR SIDEBAR Y SIDEBOX*/
  width:220px;
  margin-right:24px;
  margin-left: 15px}

.sidebox{
  background:#fff;
  border-radius:10px;
  padding:12px
  }

.sidebox h3{
  margin-top: 8px;
}

.cats{
  list-style:none;
  padding:0}

.cats li{
  padding:4px; 
  border-bottom:1px solid #e0e0e0} /*no entiendo*/

.cats a{
  text-decoration:none;
  color:black}

/*Index*/

.content{flex:1} /*no entiendo*/

.section-title{margin:0px 0 12px}

.section-title2{margin:40px 0 12px}

.sto{
  display:flex;
  flex-wrap:wrap;
  margin:0 -10px;               
}

.sto article{
  width:24.8%;                    
  padding:0 10px;
  margin: 0px 0.1% 0px 0.1%;               
  box-sizing:border-box;
  margin-bottom:20px;           
  background:#fff;
  border:1px solid #e0e0e0;
  border-radius:12px;
  overflow:hidden;
}

.sto article img{
  display:block;
  width:98%;
  height: 217px;
  background:#eee;      
  border: 10px solid #fff;
  border-bottom:1px solid #e0e0e0;
}

.sto article h2{
  margin:12px 12px 6px;
  font-size:18px}

.sto article p{
  margin:0 12px 12px;
  color:#555;
  font-size:.95rem}

.btn{
  display:inline-block;
  margin:0 12px 14px;
  padding:8px 12px;
  background:#0b2a55;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
}

/*Footer*/
.site-footer{background:#fff;border-top:1px solid #e0e0e0;margin-top:24px}
.site-footer .container{padding:14px 0;text-align:center;font-size:.95rem}

/*Resultado de busqueda, oculto*/
.section-title-hidden{
  display: none;
}

