
body{
  background:#f9f3e2;
  margin:0;
  font-family:Arial, sans-serif;
  color:#222;
}

/*Header*/
header{   
  background:#0b2a55;  
  padding: 0px 20px;
  height: 150px;   
  display: flex; 
  justify-content: space-between;     
}

.logo{
  height:100px;                  
  margin: 20px;
}

.search{
  display: flex;
  align-items: center;
}

.search input{
  padding:8px;
  margin-right: 5px;
  border-radius: 3px;
  width: 400px;
}

.search button{
  padding:8px 12px;
  background:#fff;              
  color:#0b2a55;
  border-radius: 3px;
}

.navbar{
  display: flex;
  align-items: center;
}

.navbar ul{
  display: flex; 
  list-style: none;
}

.navbar a{
  margin-right:15px;
  text-decoration:none;
  color:#fff;                   
}
/*Aca termina el header*/

/*Main*/
.page{
  display:flex;
  margin:24px 20px 24px 0px;
}  

.sidebar{
  width: 220px;
  height: 700px;
  margin: 10px 24px 0 15px; 
  background: #fff;
  border-radius: 10px;
  padding: 12px;
}

.sidebar h3{
  margin-top: 8px;
}

.cats{
  list-style:none;
  padding:0;
}

.cats li{
  padding:4px; 
  border-bottom:1px solid #e0e0e0;
} 

.cats a{
  text-decoration:none;
  color:black;
}

/*Aca termina la sidebar*/

/*Index, Section*/
.content{
  flex:1;
} 

.section-title{
  margin-top: 0px;
  text-align: left;
}

/*Resultado de busqueda, oculto, para cuando busca algo no relacionado en la barra buscadora*/
.section-title-hidden{
  display: none;
}

.Category1{
  display:flex;
  flex-wrap:wrap;
}

.Category1 article{
  box-sizing:border-box;
  width:24%;                    
  padding:10px;
  margin-right: 3px;               
  margin-bottom:20px;           
  background:#fff;
  border:1px solid #e0e0e0; 
  border-radius:12px;
}

.Category1 .article1{
  height: 500px;
}

.Category1 article img{
  width:95%;
  height: 50%;
  background:white;      
  border: 10px solid #fff; 
  border-bottom:1px solid #e0e0e0;
}

.Category1 article h2{
  margin:12px 12px 6px;
  font-size:18px} 

.Category1 article p{
  margin:0 12px 12px;
  color:dimgray;
  }

.Category1 a{
  display: inline-block;
  margin: 10px 12px 14px;
  padding: 8px 12px;
  background: #0b2a55;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.Category2{
  display:flex;
  flex-wrap:wrap;
}

.Category2 article{
  box-sizing:border-box;
  width:24%;                    
  padding:10px;
  margin-right: 3px;               
  margin-bottom:20px;           
  background:#fff;
  border:1px solid #e0e0e0; 
  border-radius:12px;
}

.Category2 .article1{
  height: 500px;
}

.Category2 article img{
  width:95%;
  height: 50%;
  background:white;      
  border: 10px solid #fff; 
  border-bottom:1px solid #e0e0e0;
}

.Category2 article h2{
  margin:12px 12px 6px;
  font-size:18px} 

.Category2 article p{
  margin:0 12px 12px;
  color:dimgray;
  }

.Category2 a{
  display: inline-block;
  margin: 10px 12px 14px;
  padding: 8px 12px;
  background: #0b2a55;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
/*Hasta aca*/

/*Footer*/
footer{
  background:white;
  border-top:1px solid #e0e0e0;
}

footer .container{
  padding:10px;
  text-align:center;
  font-size: 15px
}
/*Hasta aca el Footer*/

/*Login*/
.login main{
  margin: 30px 0px 30px 0px;
  height: 80vh;
}

.login-container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    justify-self: center;
}

.login .label{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.login .input{
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.login .checkbox{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login .button-container{
    margin-top: 10px;
    text-align: center;
}

.login .register-link{
    margin-top: 15px;
    text-align: center;
}

.login .register-link a{
    color: black;
}
/*Hasta aca el login*/

/*Registro*/
h2{
    text-align: center;
}

.register main{
  margin: 30px 0px 30px 0px;
  height: 80vh;
}

.register-container{
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
    width: 300px;
    justify-self: center;
}

.register .label{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.register .input {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px; 
}

.register .button-container{
    margin-top: 10px;
    text-align: center;
}

.register .login-link {
    text-align: center;
    margin-top: 15px;
}

.register .login-link a{
    color: black;
}
/*Hasta aca el Registro*/

/*product*/
.product-photo img{
  height: 500px;
}
.reviews h2{
  text-align: left;
}

@media (max-width: 420px){
    .search{
        display: none;
    }

    .navbar ul{
      flex-direction: column;
    }

    .navbar li{
      margin: 3px 0px 3px 0px;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px 0px 0px 9px;
        margin-top: 15px;
    }

    .sidebar{
        width: 100%;
        height: 850px;
    }

    .page{
      flex-wrap: wrap;
    }

    .content{
        margin-top: 30px;
    }

    .Category1{
        width: 100%;
        margin: 0px;
    }

    .Category1 article{
        width: 85%;
        margin-left: 22px;
    }

    footer{
        width: 100%;
    }

    .product-photo img{
      width: 350px;
      height: 350px;
    }

    .content{
      padding-left: 10px;
    }

    .login-container{
      width: 300px;
    }
}